# Ignore potential installation of Kotlin/Native or Dokka
bin/
dokka-fatjar.jar

# Ignore gradle files
gradle.properties
*/gradle.properties
*/.gradle/
.gradle/


# Ignore out folder
out/*
!out/.keep

# Ignore all compiled binaries
*.kt.bc*
build/
*/build/
